@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Organetto';
    src: url('../assets/font/organetto-ultrabold.ttf');
}
*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.organetto{
    font-family: 'Organetto', sans-serif;
}
.line::after{
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background-color: #0b3c7c;
    margin: 1rem 50%;
    transform: translateX(-50%);
}
.linewhite::after{
    content: '';
    display: block;
    width: 300px;
    height: 2px;
    background-color: #ffffff;
    margin: 1rem 50%;
    transform: translateX(-50%);
}
body {
    -webkit-font-smoothing: antialiased;
}

.gradient{
    background: linear-gradient(0deg, #000000a4 20%, #00000048 50%, #000000df 100%);
    /* background: linear-gradient(0deg, #14455981 20%, #00000000 50%, #012b35c6 100%); */
}